.admin-navbar {
    height: 60px;
    width: 100%;
    background: #00364B url('../images/admin-header-logo.png') no-repeat 14px 14px;
    margin-bottom: 20px;

    .admin-navbar-logo {
        height: 100%;
        width: 57px;
        display: block;
        float: left;
    }
    
    span {
        color: #E2F7FF;
        font-size: 24px;
        line-height: 60px;
    }
}

.admin-sidebar {
    height: 100%;
    width: 376px;
    background-color: #F2F2F2;
    float: left;
    margin: -20px 20px 0 0;
}

.admin-sidebar-list {
    margin-top: 60px;
    color: #3C3C3C;
    font-size: 18px;
    font-weight: 300;

    li {
        height: 60px;
        padding: 0 20px;
        margin-bottom: 4px;
        line-height: 60px;
        
        a {
            height: 100%; 
            width: 100%;
            display: block;
        }
        
        &:hover {
            background-color: #EDEDED;   
        }
    }
    
    li.selected {
        background-color: #E3E3E3;
        font-size: 24px;
        
        a {
            color: #4E4E4E;
        }
    }
}