.chat-room {
    height: 100%;
    position: relative;   
}

.chat-messages {
    display: inline-block;
    width: 600px;
}

.chat-userlist {
    display: inline-block;
    width: 300px;
    margin-left: 10px;
    border: 1px dotted black;
}

.chat-message-input {
    position: absolute;
    bottom: 0;
    left: -8px;
    right: 0;
    
    input[type="text"] {
        width: 100%;
        padding: 15px;
        font-size: 30px;
        font-weight: 300;
        border-width: 0 0 4px 0;
        border-style: solid;
        border-color: #1596CC;
        @include transition-quick(border-color);
        
        &:focus {
            border-color: darken(#1596CC, 20%);  
        }
    }
    
    ::-webkit-input-placeholder {
        color: #D3D3D3;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #D3D3D3;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #D3D3D3;  
    }

    :-ms-input-placeholder {  
       color: #D3D3D3;  
    }
}

.message {
    margin-bottom: 14px;   
}

.message-user {
    margin-bottom: 4px;
    float: left;
}

.message-user-username {
    font-size: 20px;
    font-weight: 600;
    color: #003145;
    line-height: 26px;
}

.message-user-avatar {
    float: left;
    height: 26px;
    margin-right: 6px;
}