.landing { 
    height: 100%;
    width: 100%;
    background-color: #111A22;
}

.landing-banner {
    height: 260px;
    width: 100%;
    background: transparent url('../images/landing-banner.jpg') no-repeat 50% 50%;
    border-bottom: 1px solid #4D5B69;
}

.landing-auth {
    margin: 120px auto 0 auto;
}

.landing-input {
    width: 1000px;
    margin: 0 auto 36px auto;
    text-align: center;
    
    input {
        width: 100%;
        background: transparent;
        padding: 0 20px;
        margin-top: 6px;
        border-radius: 4px;
        border: 0px;
        text-align: center;
        color: #F4F4F4;
        font-size: 80px;
        font-weight: 500;

        &:focus {
            background: transparent;
            outline: 0;
        }
        
        &:-webkit-autofill {
            -webkit-text-fill-color: #F4F4F4;
            -webkit-box-shadow: 0 0 0px 1000px #2F404F inset;
        }
        
        /* Dang browsers and their "standards". */
        &:placeholder-shown { color: #F4F4F4; }
        &:-moz-placeholder { color: #F4F4F4; }
        &::-moz-placeholder { color: #F4F4F4; }
        &::-webkit-input-placeholder { color: #F4F4F4; }
        &:-ms-input-placeholder { color: #F4F4F4; }
    }
    
    label {
        font-size: 22px;
        color: #B4B9BE;
    }
    
    &.optional input {
        /* Dang browsers and their "standards". */
        &:placeholder-shown { color: #909EAD; }
        &:-moz-placeholder { color: #909EAD; }
        &::-moz-placeholder { color: #909EAD; }
        &::-webkit-input-placeholder { color: #909EAD; }
        &:-ms-input-placeholder { color: #909EAD; }
    }
    
    &.optional label {
        font-style: italic;   
    }
    
    &.errored label {
        color: #BD0000;
    }
}

.landing-buttons {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.landing-button {
    min-width: 140px;
    background-color: #4D5B69;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 20px;
    margin: 0 10px;
    box-shadow: 0 6px 0 #333E49;
    line-height: 49px;
    color: #FFF;
    font-size: 20px;
    @include transition-quick(all);

    &:hover {
        background-color: #596a7b;
        box-shadow: 0 5px 0 #333E49;
        transform: translate(0, 1px);
        cursor: pointer;
    }

    &:active {
        background-color: #596a7b;
        box-shadow: 0 1px 0 #333E49;
        transform: translate(0, 5px);
        cursor: pointer;
    }
    
    &.create-account .landing-button-text:before {
        content: '';
        height: 24px;
        width: 24px;
        margin-right: 12px;
        display: inline-block;
        position: relative;
        top: 6px;
        background-image: url('../images/arrow-left2.svg');
        background-size: 24px 24px;
    }
    
    &.nevermind .landing-button-text:after {
        content: '';
        height: 24px;
        width: 24px;
        margin-left: 12px;
        display: inline-block;
        position: relative;
        top: 6px;
        background-image: url('../images/arrow-right2.svg');
        background-size: 24px 24px;
    }
}

.login-forgot-password {
    width: 300px;
    display: block;
    margin: 30px auto 0 auto;
    color: #4a5b60;
    font-size: 16px;
    text-align: center;
    
    &:hover {
        color: #D3DAE2;   
    }
}

.landing-whatis {
    width: 800px;
    display: none;
    margin: 200px auto 0 auto;
    text-align: center;
    
    h1 {
        font-size: 52px;
        font-weight: 300;
        color: #B4B9BE;
        padding-bottom: 30px;
    }
    
    h2 {
        font-size: 28px;
        font-weight: 300;
        color: #3784BB;
        padding-bottom: 30px;
    }
}

.landing-whatis-scrolldown {
    height: 52px;
    width: 56px;
    background: url('../images/landing-read-more-arrows.png') no-repeat 50% 0;
    display: block;
    margin: 0 auto 118px auto;
    
    &:hover {
        background-position: 50% 100%   
    }
}