// Main Stylesheet
// Box sizing partial styles:
// Apply a natural box layout model to all elements

* {
    box-sizing: border-box; 
}


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 16px/1 'Roboto', serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
    
li { 
    display: block;
}

h1, h2, h3, h4 {
    font-size: inherit;
}

strong {
    font-weight: bold;
}

a {
    color: #1596CC;
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.wrapper {
    height: 100%;   
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
}

.page-content {
    height: 100%;
    width: 100%;
}

.small-avatar {
    $avatarSize: 35px;
    height: $avatarSize;
    width: $avatarSize;
    background-size: $avatarSize $avatarSize;
    border-radius: $avatarSize / 2;
    position: relative;
    
    .status {
        height: 14px;
        width: 14px;
        border: 3px solid #242c34;
        border-radius: 14px;
        position: absolute;
        bottom: 0;
        right: 0;
    
        &.online {
            background-color: #81c012;
        }
    }
}

.tiny-avatar {
    $avatarSize: 25px;
    height: $avatarSize;
    width: $avatarSize;
    background-size: $avatarSize $avatarSize;
    border-radius: $avatarSize / 2;
    position: relative;
    
    .status {
        height: 12px;
        width: 12px;
        border: 2px solid #242c34;
        border-radius: 12px;
        position: absolute;
        bottom: 0;
        right: 0;
    
        &.online {
            background-color: #81c012;
        }
    }
    
    .status.status-light {
        border-color: #FFF;
    }
}

// Clear fix.
.group:after {
    content: "";
    display: table;
    clear: both;
}

@mixin transition-quick($property) {
    transition: $property 0.2s ease;
}

@mixin transition-none($property) {
    transition: $property 0s ease;
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

@import 'admin';
@import 'chat';
@import 'header';
@import 'login';
@import 'sidebar';
@import 'roombrowser';